<div class="store-container">
  <div fxLayout="row"
       fxLayout.xs="column"
       fxLayoutAlign="space-between center">
    <h1 class="mat-h1">
      Collection
    </h1>
    <form [formGroup]="searchForm">
      <mat-form-field class="search-form">
        <input
          formControlName="query"
          matInput
          type="search" placeholder="Chercher un livre"
         />
      </mat-form-field>
    </form>
  </div>
  <div fxLayout="row wrap"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0"
  >
    <mat-spinner *ngIf="loading$ | async"></mat-spinner>
    <app-book *ngFor="let book of (books$ | async)"
      [book]="book"
      [showDescription]="true"
      [fullDescription]="false"
      [showCover]="true"
      [floatCover]="false"
      [showAddAction]="true"
      [query]="query$ | async"
      (add)="addBookToCart(book)"
      (goToDetail)="goToBookDetail(book)"
      class="book">
    </app-book>
  </div>
</div>
