body {
  margin: 0px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .search-highlight {
    background-color: #F2E366;
  }

  app-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0
  }
  app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2
  }
  .app-content {
    overflow-y:auto
  }
  @media (max-width: 720px) {
    .app-content {
      overflow-y: visible
    }
  }
}
