@import '../../../../../theme/app-variables';

.cartItem {
  margin-bottom: 15px;
  .app-book {
    min-width: 275px;
  }
}

.qte-update {
  padding-right: 10px
}

.qte {
  padding-left: 5px;
  padding-right: 5px;
}

.discount {
  color: $green;
}

.payment-without-discount {
  color: $warn;
}

.payment-info {
  color: $primary;
  p, h4 {
    font-weight: bolder;
    font-size: larger !important;
  }
}

.payment {
  float: right;
}
