<div *ngIf="cartProducts$ | async as cartProducts" class="container" fxLayout="row" fxLayout.xs="column-reverse" fxFlexFill>
  <div fxFlex>
    <div fxLayout="column">
      <h1 class="mat-h1">Panier</h1>
      <mat-card *ngIf="cartProducts.length === 0">
        <div>Panier vide</div>
        <button
          [routerLink]="['/books']"
          mat-raised-button
          color="primary">
          Retour à la collection <mat-icon>list</mat-icon>
        </button>
      </mat-card>
      <div
        fxLayout="row wrap"
        fxLayoutAlign="start"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">
        <mat-card class="cartItem" *ngFor="let cartProduct of cartProducts">
          <mat-card-content mat-card-image>
            <app-book
              [book]="cartProduct.product"
              [showDescription]="false"
              [showCover]="false"
              class="book">
            </app-book>
          </mat-card-content>
          <mat-card-actions>
            <div fxLayout="row" fxLayoutAlign="end" fxFlexFill>
              <div class="qte-update" fxFlexAlign="start">
                <button
                  (click)="incerementBookCartQuantity(cartProduct.product)"
                  [attr.test-id]="'incr:' + cartProduct.product.getId()"
                  class="inc"
                  mat-mini-fab
                  color="primary">
                  <mat-icon>add</mat-icon>
                </button>
                <span class="qte">Qte: {{cartProduct.quantity}}</span>
                <button
                  (click)="decrementBookCartQuantity(cartProduct.product)"
                  [attr.test-id]="'decr:' + cartProduct.product.getId()"
                  class="dec"
                  mat-mini-fab
                  color="accent">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
              <button
                class="remove"
                fxFlexAlign="end"
                (click)="removeItem(cartProduct.product)"
                [attr.test-id]="'rm:' + cartProduct.product.getId()"
                matTooltip="Retirer"
                mat-mini-fab
                color="warn">
                 <mat-icon>remove_shopping_cart</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <div *ngIf="cartProducts.length" fxFlex="33">
    <mat-list>
      <h1 mat-subheader>Récapitulatif</h1>
      <mat-list-item *ngFor="let cartProduct of cartProducts">
        <mat-icon mat-list-icon>book</mat-icon>
        <h4 mat-line>{{cartProduct.product.title}}</h4>
        <p mat-line>Sous total: {{cartProduct.getSubTotal() | currency:'EUR':'symbol'}} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <ng-container *ngIf="cart$ | async as cart">
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <mat-list-item class="discount">
          <mat-icon mat-list-icon>attach_money</mat-icon>
          <h4 mat-line>Promotion</h4>
          <p mat-line [style.visibility]="loading ? 'hidden' : 'visible'">Montant: {{cart.getDiscount() | currency:'EUR':'symbol'}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="payment-without-discount">
          <mat-icon mat-list-icon>money_off</mat-icon>
          <h4 mat-line>Total sans promotion</h4>
          <p mat-line>{{cart.getTotal() | currency:'EUR':'symbol'}} </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <mat-list-item class="payment-info">
          <mat-icon mat-list-icon>monetization_on</mat-icon>
          <h4 mat-line>Montant à payer</h4>
          <p mat-line [style.visibility]="loading ? 'hidden' : 'visible'">{{cart.getTotalWithDiscount() | currency:'EUR':'symbol'}} </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
    <a
      class="payment"
      mat-raised-button
      color="primary"
      href="https://twitter.com/fayway2"
      target="_blank">
      Payer <mat-icon mat-list-icon>payment</mat-icon>
    </a>
  </div>
</div>

