<div fxLayout="row"
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutAlign="center start"
     fxLayoutAlign.xs="center center"
     fxLayoutGap.xs="0">
  <mat-card class="description">
    <mat-card-header>
      <mat-card-title [routerLink]="['/book/', book.isbn]" [innerHtml]="book.title | highlight:query"></mat-card-title>
      <mat-card-subtitle>
        Prix: {{book.price | currency:'EUR':'symbol'}}
        <button
          *ngIf="showAddAction"
          style="float: right"
          fxFlexAlign="baseline"
          (click)="add.emit()"
          mat-mini-fab
          [attr.test-id]="'add-mini:' + book.isbn"
          color="accent">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <img *ngIf="showCover && !floatCover"
         (click)="goToDetail.emit()"
         mat-card-image
         [src]="book.cover"
         [alt]="book.title">
    <mat-card-content *ngIf="showDescription" class="synopsis">
      <p *ngFor="let paragraph of book.synopsis | slice:0:(fullDescription?book.synopsis.length:1)"
         [innerHtml]="paragraph | highlight:query">
      </p>
      <button *ngIf="!fullDescription"
              (click)="goToDetail.emit()"
              [attr.test-id]="'detail:' + book.isbn"
              mat-button>
        Plus <mat-icon>description</mat-icon>
      </button>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="showBackAction"
              (click)="goBack.emit()"
              mat-raised-button
              [attr.test-id]="'return:' + book.isbn"
              color="primary">
        Retour à la collection <mat-icon>list</mat-icon>
      </button>
      <button *ngIf="showAddAction"
              (click)="add.emit()"
              mat-raised-button
              [attr.test-id]="'add:' + book.isbn"
              color="accent">
        Ajouter au panier <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="showCover && floatCover"
            fxFlex="250px"
            class="cover">
    <img mat-card-image [src]="book.cover" [alt]="book.title">
  </mat-card>
</div>
