<mat-toolbar color="primary" class="mat-elevation-z6">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="app-toolbar">
    <a routerLink="/" mat-button class="docs-button">
      <mat-icon>store</mat-icon> Henri Potier Lib
    </a>
    <div>
      <a routerLink="/cart" mat-button test-id="cart">
        <mat-icon [matBadge]="cartCount" matBadgeColor="accent">shopping_cart</mat-icon>
      </a>
    </div>
  </div>
</mat-toolbar>
